[{:date {:year 2024
         :month "June"
         :date 6}
  :responsible {:name "Brad Losavio"
                :email "blosavio@sagevisuals.com"}
  :version 0
  :comment "initial public release"
  :status :active
  :stable false
  :urgency :none
  :maturity :experimental
  :breaking? nil
  :changes {:change-type :initial-release}}

 {:date {:year 2024
         :month "July"
         :date 26}
  :responsible {:name "Brad Losavio"
                :email "blosavio@sagevisuals.com"}
  :version 1
  :comment "request for comments"
  :status :active
  :stable false
  :urgency :low
  :maturity :experimental
  :breaking? true
  :changes
  [{:description "Re-named functions for clarity, correctness, and conciseness.
`validate-scalar-spec` to `validate-scalars`
`validate-collection-spec` to `validate-collections`
`valid-scalar-spec?` to `valid-scalars?`
`valid-collection-spec?` to `valid-collections?`
`valid-macro-spec?` to `valid-macro?`

Also updated documentation to correspond to new function names."
    :date {:year 2024
           :month "July"
           :date 10}
    :change-type :name-change
    :breaking? true}

   {:description "Upgraded `defpred` predicate definition macro that can inspect
 a function S-expression and create a random sample generator. Also added
 documentation and illustrations."
    :date {:year 2024
           :month "July"
           :date 18}
    :change-type :increased-capabilities
    :breaking? false}

   {:description "Added `thoroughly-valid?` utility function."
    :date {:year 2024
           :month "July"
           :date 19}
    :change-type :increased-capabilities
    :breaking? false}

   {:description "Improved `data-without-specs`, `specs-without-data`,
 `data-with-specs` to properly handle scalars within a set."
    :date {:year 2024
           :month "July"
           :date 21}
    :change-type :bug-fix
    :breaking? false}

   {:description "Re-naming functions to more accurately convey purpose and action.
`data-without-specs` to `scalars-without-predicates`
`data-with-specs` to `scalars-with-predicates`
`collections-without-specs` to `collections-without-predicates`"
    :date {:year 2024
           :month "July"
           :date 21}
    :change-type :name-change
    :breaking? true}

   {:description "Removed un-needed/redundant api.clj and api.html pages because
they're automatically generated by Codox."
    :date {:year 2024
           :month "July"
           :date 23}
    :change-type :documentation
    :breaking? false}

   {:description "Added a `*max-tries*` dynamic var that governs random sample
 generators."
    :date {:year 2024
           :month "July"
           :date 23}
    :change-type :implementation-change
    :breaking? false}

   {:description "Added tests to verify handling of sequences emitted by
`interpose`, `interleave`, `lazy-cat`, `mapcat`, and `zipmap`."
    :date {:year 2024
           :month "July"
           :date 25}
    :change-type :tests
    :breaking? false}

   {:description "Added `lazy-seq?` utility predicate."
    :date {:year 2024
           :month "July"
           :date 25}
    :change-type :increased-capabilities
    :breaking? false}

   {:description "Various documentation edits spanning 2024July10 through 2024July26."
    :date {:year 2025
           :month "July"
           :date 26}
    :change-type :documentation
    :breaking? false}]}
 ]

(comment Release notes; changelog.edn
  "A human- and machine-readable `changelog.edn` will accompany each Speculoos
  release at the project's root directory. `changelog.edn` is tail-appended file
  constructed from all previous releases, possibly automatically-composed of
  per-release release-log.edn files in a sub-directory.

  Each release is a  map describing each change. Each change map has the
  following keys with appropriate associated values:

  :date {:year :month :date :index <optional, if more than one per day>}
  :responsible {:name :email}
  :contributors [{:name :email} ...] <included as needed>

  :change
    :initial-release
    :security

    :performance-improvement
    :preformance-regression
    :memory-improvement
    :memory-regression
    :network-resource-improvement
    :network-resource-regression

    :api-change

    :relaxed-requirements
    :increased-requirements

    :documentation

    :tests
    :bug-fix
    :deprecated-something

    :name-change
    :function-argument-signature-change
    :removed-fn

    :policy-change (i.e., considered good-form to...)
    :meta-data

    :error-messsage-improved/changed
    :default-changed
    :improved-output (e.g., handles more unicode; processes more numeric types)

    :website-change
    :documentation-change

    :implementation-change
    :source-formatting-change (i.e., indentation, spacing, capitalization, parentheses location)

    :release-note-change (omissions, corrections)


  :comment a string for whatever seems useful <optional>

  :maturity
    :proof-of-concept
    :experimental
    :pre-alpha
    :alpha
    :beta
    :release

  :urgency
    :none
    :low
    :high

  :status
    :active
    :stable
    :inactive
    :experimental
    :deprecated
    :mature

:breaking?
  :nil if initial public release
  false if and only if all changes are non-breaking
  true otherwise" )