@charset "utf-8";

/* CSS for navigation, footers, code side-by-sides, etc */

dt {
    font-weight: bold;
}


#page-footer {
    font-size: 100%;
    opacity: 70%
}

#uuid {
    display: none;
}

.side-by-side-container {
    display: flex;
}

.side-by-side {
    width: 50%;
    margin-right: 2rem;
}

.side-by-side code {
    overflow-x: visible;
    margin: 0;
}

.side-by-side-by-side-container {
    display: flex;
}

.side-by-side-by-side {
    width: 33.3%;
    margin-right: 2rem;
}

.side-by-side-by-side code {
    overflow-x: visible;
    margin: 0;
}

.small-caps {
    font-variant: small-caps;
}


.centered {
    text-align: center;
}

.de-highlight {
    color: silver;
    font-weight: lighter;
}

.highlight {
    color: black;
    font-weight: bold;
    font-size: 100%;
}

.tight {
    width: 25%;
}

.c1 {
    color: red;
}

.c2 {
    color: blue;
}

.c3 {
    color: green;
}

.c4 {
    color: #ff8c00; /* darkorange; */
    /* color: #bf5700;*/ /* burnt orange */
}

.no-display {
    display: none;
}

.wide-title {
    width: 100%;
}

pre {

}

code {

}

body {
    width: 50em;
    max-width: max-content;
    margin: auto;
    font-size: 26pt;
}

.title {

}

.subtitle {
    margin-top: -8vh;
}

.info {

}

.eval {
    position: relative;
}


code.form {
}

code.eval {
    opacity: 0;
}

.note {
    /* display: none; */
    color: darkorange;
    font-size: 18pt;
}

.panel {
    border-width: 0px;
    border-color: red;
    border-style: solid;
    height: 100vh;
    position: relative;
}

.panel-header {
    border-width: 0px;
    border-color: green;
    border-style: solid;
    height: 10vh;
}

.panel-footer {
    border-width: 0px;
    border-color: blue;
    border-style: solid;
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.panel-number, .footer-link {
    color: silver;
    width: 100%;
    display: block;
    text-align: center;
}

.panel-number {
    margin-bottom: 2vh;
}

.footer-link {
    font-size: 20pt;
}

div.vspace {
    height: 4vh;
}

:is(h1, h2, h3, h4, h5 h6) {
    margin-bottom: 10vh;
}

li {
    margin-bottom: 3vh;
}

p {
    margin-bottom: 5vh;
}

.whats-next {
    font-size: 22pt;
}

.whats-next li {
    margin-bottom: 1.5vh;
}

td {
    padding-bottom: 1.5vh;
    padding-right: 2.0vw;
}

.note > p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.note li  {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}