{:transforms
 [[:head] [:append
           [:link {:rel "stylesheet", :type "text/css" :href "codox.css"}]
           [:link {:rel "stylesheet", :type "text/css" :href "highlight.css"}]
           #_[:script {:type "text/javascript", :src "js/highlight.min.js"}]
           #_[:script {:type "text/javascript", :src "js/jquery.min.js"}]
           #_[:script {:type "text/javascript", :src "js/page_effects.js"}]
           #_[:script "hljs.initHighlightingOnLoad();"]]
  [:div.sidebar.primary] [:append
                          [:h3.no-link
                           [:span.inner "Speculoos Links"]]
                          [:ul.index-link
                           [:li.depth-1.current [:a {:href "home.html"} "Home"]]
                           [:li.depth-1.current [:a {:href "documentation.html"} "Documentation"]]
                           [:li.depth-1.current [:a {:href "source.html"} "Source"]]
                           [:li.depth-1.current [:a {:href "contact.html"} "Contact"]]]]
  ]
 :resources
 ["codox.css"
  "highlight.css"
  #_"js/highlight.min.js"
  #_"js/jquery.min.js"
  #_"js/page_effects.js"]}
