{:transforms
 [[:head] [:append
           [:link {:rel "stylesheet", :type "text/css" :href "default.css"}]
           [:link {:rel "stylesheet", :type "text/css" :href "highlight.css"}]
           [:script {:type "text/javascript", :src "highlight.min.js"}]
           [:script {:type "text/javascript", :src "jquery.min.js"}]
           [:script {:type "text/javascript", :src "page_effects.js"}]
           [:script "hljs.initHighlightingOnLoad();"]]
  [:div.sidebar.primary] [:append [:ul.index-link [:li.depth-1 [:a {:href "https://github.com/blosavio/speculoos"} "Project Home"]]]]]
 :resources
 ["default.css"
  "highlight.css"
  "highlight.min.js"
  "jquery.min.js"
  "page_effects.js"]}
