{:date {:year 2024
        :month "July"
        :day 26}
 :responsible {:name "Brad Losavio"
               :email "blosavio@sagevisuals.com"}
 :version 1
 :comment "Request for comments."
 :project-status :experimental
 :stable false
 :urgency :low
 :breaking? true
 :changes
 [{:description "Re-named functions for clarity, correctness, and conciseness.
Also updated documentation to correspond to new function names."
   :date {:year 2024
          :month "July"
          :day 10}
   :change-type :renamed-functions
   :breaking? true
   :renamed-functions [{:old-function-name 'validate-scalar-spec
                        :new-function-name 'validate-scalars}
                       {:old-function-name 'validate-collection-spec
                        :new-function-name 'validate-collections}
                       {:old-function-name 'valid-scalar-spec?
                        :new-function-name 'valid-scalars?}
                       {:old-function-name 'valid-collection-spec?
                        :new-function-name 'valid-collections?}
                       {:old-function-name 'valid-macro-spec?
                        :new-function-name 'valid-macro?}]}

  {:description "Upgraded `defpred` predicate definition macro that can inspect
 a function S-expression and create a random sample generator. Also added
 documentation and illustrations."
   :date {:year 2024
          :month "July"
          :day 18}
   :change-type :increased-return
   :altered-functions ['defpred]
   :breaking? false}

  {:description "Added `thoroughly-valid?` utility function."
   :date {:year 2024
          :month "July"
          :day 19}
   :change-type :added-functions
   :added-functions ['thoroughly-valid?]
   :breaking? false}

  {:description "Improved `data-without-specs`, `specs-without-data`,
 `data-with-specs` to properly handle scalars within a set."
   :date {:year 2024
          :month "July"
          :day 21}
   :change-type :bug-fix
   :altered-functions ['data-without-specs 'specs-without-data 'data-with-specs]
   :breaking? false}

  {:description "Re-naming functions to more accurately convey purpose and action.
`data-without-specs` to `scalars-without-predicates`, `data-with-specs` to
 `scalars-with-predicates`, and `collections-without-specs` to
 `collections-without-predicates`."
   :date {:year 2024
          :month "July"
          :day 21}
   :change-type :renamed-functions
   :renamed-functions [{:old-function-name 'data-without-specs
                        :new-function-name 'scalars-without-predicates}
                       {:old-function-name 'data-with-specs
                        :new-function-name 'scalars-with-predicates}
                       {:old-function-name 'collections-without-specs
                        :new-function-name 'collections-without-predicates}]
   :breaking? true}

  {:description "Removed un-needed/redundant api.clj and api.html pages because
they're automatically generated by Codox."
   :date {:year 2024
          :month "July"
          :day 23}
   :change-type :documentation
   :breaking? false}

  {:description "Added a `*max-tries*` dynamic var that governs random sample
 generators."
   :date {:year 2024
          :month "July"
          :day 23}
   :change-type :implementation
   :breaking? false}

  {:description "Added tests to verify handling of sequences emitted by
`interpose`, `interleave`, `lazy-cat`, `mapcat`, and `zipmap`."
   :date {:year 2024
          :month "July"
          :day 25}
   :change-type :tests
   :breaking? false}

  {:description "Added `lazy-seq?` utility predicate."
   :date {:year 2024
          :month "July"
          :day 25}
   :change-type :added-functions
   :added-functions ['lazy-seq?]
   :breaking? false}

  {:description "Various documentation edits spanning 2024July10 through 2024July26."
   :date {:year 2024
          :month "July"
          :day 26}
   :change-type :documentation
   :breaking? false}]}