{:date {:year 2024
        :month "November"
        :day 11}
 :responsible {:name "Brad Losavio"
               :email "blosavio@sagevisuals.com"}
 :version 3
 :comment "Enhancements to handle subvectors."
 :project-status :experimental
 :stable false
 :urgency :low
 :breaking? true
 :changes
 [{:description "All functions in Speculoos can now handle subvector types."
   :date {:year 2024
          :month "November"
          :day 11}
   :change-type :relaxed-input-requirements
   :altered-functions ['validate-scalars 'valid-scalars?
                       'validate-collections 'valid-collections?]
   :breaking? false}

  {:description "Now require version 2 of `fn-in` lib so that can handle subvectors. See https://github.com/blosavio/fn-in/issues/2."
   :date {:year 2024
          :month "November"
          :day 11}
   :change-type :dependency-version
   :breaking? true}

  {:description "Now require version Clojure 1.12.0."
   :date {:year 2024
          :month "November"
          :day 11}
   :change-type :dependency-version
   :breaking? true}]}